<!-- <h5> 表格内容逐行滚动 demo</h5> -->
<div class="admin-list-table">
    <table class="filter-table form-inline filter-table--hover">
        <thead>
            <tr>
                <th ng-model="ctrl.panel.hiddenTH" hidden>{{ ctrl.panelID }}</th>
                <th ng-repeat="c in ctrl.columns">{{ c.text }}</th>
            </tr>
        </thead>
        <tbody id="tabAutoSrolle" name="tabAutoSrolle" ng-init="ctrl.panel.tabAutoSrolle" class="scrollTbody">
            <tr ng-repeat="r in ctrl.records">
                <td ng-repeat="i in ctrl.serial">
                    {{ r[i] }}
                </td>
            </tr>
        </tbody>
    </table>
</div>